[Unit]
Description=EpicBook Node.js Application
Documentation=https://github.com/pravinmishraaws/theepicbook
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ epicbook_app_dir }}
ExecStart=/usr/bin/node {{ epicbook_app_dir }}/server.js
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=epicbook
EnvironmentFile={{ epicbook_app_dir }}/.env

[Install]
WantedBy=multi-user.target
